<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
	<meta charset="UTF-8">
	<title>go2 demo</title>
</head>
<body >
	<select name="" id="">
		<option ng-repeat="item in list" value="{{$index}}">{{item}}</option>
	</select>
	<input type="button" value="go2" ng-click="letsgo()">
	<ul go2>
		<li ng-repeat="item in list">{{item}}</li>
	</ul>

<script src="http://cdn.bootcss.com/angular.js/1.4.0-rc.2/angular.min.js"></script>
<script src="go2.js"></script>	
<script>
	// angular.module('demo',[]).controller('ctrl', [
	// 	'$scope', 
	// 	function($scope, $go2Delegate){
	// 		//初始化数据
	// 		$scope.list = [];
	// 		for(var i=0;i<100;i++){
	// 			$scope.list.push(i);
	// 		}
	// 	}
	// ]);
</script>
</body>
</html>